.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 480px;
    height: 335px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modalHeading {
    font-size: 24px;
    color: var(--black-black_282828, #282828);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .label {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
    color: var(--black-black_282828, #282828);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  
  .input {
    width: 400px;
    height: 45px;
    flex-shrink: 0;
    margin-bottom: 60px;
    border-radius: 6px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: var(--gray-gray_FAFAFA, #fafafa);
    color: var(--gray-gray_B8B8B8, #b8b8b8);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
  }
  
  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  