.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.modifyForm {
  display: flex;
  justify-content: space-between;
}

.leftSide,
.rightSide {
  width: 45%;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.input,
.textarea,
.dateInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 150px;
}

.fileInputWrapper {
  display: flex;
  align-items: center;
}

.hiddenFileInput {
  display: none;
}

.fileButton {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.imagePreview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewImage {
  max-width: 100%;
  max-height: 200px;
}

.removeImageButton {
  background-color: #ff0000;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.tagItem {
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.removeTagButton {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.publicToggle {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.publicToggle input {
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
