.groupDetail {
  display: flex;
  width: 100%;
  gap: 4%;
  margin-top: 60px;
  box-sizing: border-box;
}

.groupImg {
  height: auto;
  width: 262px;
  display: flex;
  align-items: center;
}

.groupImg > img {
  height: 273px;
  width: 262px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}

.noneImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 273px;
  width: 262px;
  border-radius: 6px;
  background: #efede4;
}

.noneImg > img {
  width: 122px;
  height: 122px;
}

.groupInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  overflow: hidden;
}

.infoContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  word-break: keep-all;
}

.groupIntroduction {
  display: flex;
  width: 100%;
  min-height: 48px;
  align-items: center;
  justify-content: space-between;
  word-break: keep-all;
  margin-bottom: 15px;
}

.groupDatePublic {
  display: flex;
  gap: 15px;
}

.groupDatePublic > span:nth-child(2) {
  color: var(--gray-400);
}

.groupDatePublic > span:nth-child(3) {
  color: var(--gray-500);
}

.groupUpdateDelete {
  display: flex;
  gap: 40px;
}

.groupUpdateDelete > button:nth-child(2) {
  color: var(--gray-500);
}

.groupTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3%;
  overflow: hidden;
}

.groupPostLike {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.groupPostLike > span:nth-child(2) {
  color: var(--gray-400);
  font-weight: 400;
}

.bagesLikeButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.likeButton {
  display: flex;
  width: 187.881px;
  height: 52px;
  padding: 15px 0px;
  margin-left: 4.8%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--black);
  box-sizing: border-box;
}

.likeButton img {
  width: 22.881px;
  height: 22px;
}

.line {
  width: 100%;
  height: 0px;
  border: 0.5px solid var(--gray-200);
  opacity: 0.5;
  margin: 120px 0px;
}

.memoryHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.memoryHeader > div {
  width: 200px;
}

.modalOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;
  width: 480px;
  height: 90%;
  overflow-y: scroll;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--gray-50);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.closeButton img {
  width: 100%;
  height: 100%;
}
