/* 임시 스타일 가이드 - 세팅 완료 후 삭제 */
.typography {
  padding: 10px;
}

.typography div {
  margin-bottom: 5px;
}

.color {
  padding: 10px;
}

.color div {
  height: 50px;
  width: 500px;
  margin-bottom: 5px;
}
