p {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.typography {
  padding: 10px;
}

.typography div {
  margin-bottom: 5px;
}

.color {
  padding: 10px;
}

.color div {
  height: 50px;
  width: 500px;
  margin-bottom: 5px;
}
